<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEweN7SE881Bg8yYJKc6ZdB6CFd4GvSKI</string>
	<key>GCM_SENDER_ID</key>
	<string>976618334884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase2</string>
	<key>PROJECT_ID</key>
	<string>fir-one-eff08</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-one-eff08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976618334884:ios:75c2e790efb4d46b97d431</string>
</dict>
</plist>